/* ----------- Styling the Main Page ----------- */
body.main-page {
  background-color: #98a3ae;
  text-align: center;
}

/* ----------- Styling the Game Page ----------- */
body#game-page {
  background-color: #98a3ae;
  text-align: center;
  font-family: Arial, sans-serif;
}


/* Help and Play Buttons */
.play, .help {
  color: #000;
  background: #abb18b;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* Help Popup Box */
.popup-box {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffffcc;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  max-width: 300px;
  text-align: left;
}

/* Romove link underline */
a {
  text-decoration: none;
}

/* ----------- Hangman Styling ----------- */

.hangman-container {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px auto;
}

/* Gallows */
.gallow-vertical {
  position: absolute;
  left: 40px;
  bottom: 0;
  width: 5px;
  height: 250px;
  background-color: black;
}

.gallow-top {
  position: absolute;
  left: 40px;
  top: 0;
  width: 120px;
  height: 5px;
  background-color: black;
}

.gallow-rope {
  position: absolute;
  left: 155px;
  top: 5px;
  width: 2px;
  height: 40px;
  background-color: black;
}

/* Hangman Parts */
.hangman .part {
  position: absolute;
  display: none;
  background-color: black;
}

/* Head */
#part-head {
  top: 45px;
  left: 140px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid black;
}

/* Body */
#part-body {
  top: 78px;
  left: 154px;
  width: 3px;
  height: 60px;
}

/* Arms */
#part-left-arm {
  top: 100px;
  left: 154px;
  width: 25px;
  height: 2px;
  transform: rotate(-45deg);
  transform-origin: left center;
}

#part-right-arm {
  top: 100px;
  left: 130px;
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
  transform-origin: right center;
}

/* Legs */
#part-left-leg {
  top: 135px;
  left: 154px;
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
  transform-origin: left center;
}

#part-right-leg {
  top: 135px;
  left: 130px;
  width: 25px;
  height: 2px;
  transform: rotate(-45deg);
  transform-origin: right center;
}